<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ass.mapper.SOTMapper">
	<insert id="save" parameterType="com.ass.domin.SOT">
	insert into customer
	(
	name, address, pNumber,birth, ID, password, sex,type
	)
	values
	(
	#{name}, #{address}, #{pNumber},#{birth},#{ID}, #{password}, #{sex},#{type}
	)
	</insert>
	<!--<select id="match" parameterType="com.ass.domin.SOTlogin">-->
		<!--select *from customer where ID=#{ID} and password=#{password}-->
	<!--</select>-->
</mapper>
